* noam.gal@codefresh.io daniel.maizel@codefresh.io pavel@codefresh.io daniel.soifer@codefresh.io

# https://github.com/orgs/codefresh-io/teams/r-d/teams
# use teams and github usernames, instead of email addresses
*                             @codefresh-io/Backend

# only teamleads can approve CODEOOWNERS rule changes
CODEOWNERS                    @codefresh-io/teamleads
