apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: cap-app-proxy
  name: cap-app-proxy
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - create
      - delete
      - update
      - patch
      - list
      - watch
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - get
      - create
      - delete
      - update
      - patch
      - list
      - watch
