apiVersion: codefresh.io/v1alpha1
kind: Runtime
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
spec:
  defVersion: 1.0.1
<<<<<<< HEAD
  version: 0.0.305
=======
  version: 0.0.304
>>>>>>> origin/main
  bootstrapSpecifier: github.com/codefresh-io/cli-v2/manifests/argo-cd
  components:
    - name: events
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-events
      wait: true
    - name: rollouts
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-rollouts
    - name: workflows
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-workflows
    - name: app-proxy
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/app-proxy
