apiVersion: codefresh.io/v1alpha1
kind: Runtime
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
spec:
  defVersion: 2.0.0
  version: 0.0.530
  bootstrapSpecifier: github.com/codefresh-io/cli-v2/manifests/argo-cd
  components:
    - name: events
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-events
      wait: true
    - name: rollouts
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-rollouts
    - name: workflows
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/argo-workflows
    - name: app-proxy
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/app-proxy
      syncWave: 9
    - name: sealed-secrets
      type: kustomize
      url: github.com/codefresh-io/cli-v2/manifests/sealed-secrets
    - name: codefresh-tunnel-client
      type: helm
      # here
      url: github.com/codefresh-io/codefresh-tunnel-charts/codefresh-tunnel-client?ref=2419e487d775a285321ec469f4247ca75210bca2
      feature: ingressless
