apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/argoproj/argo-workflows/releases/download/v3.1.8/install.yaml

patches:
  # reset the crbs to `subject.namespace: default`, so that argo-workflows will later change them to the actual ns
  - target:
      group: rbac.authorization.k8s.io
      version: v1
      kind: ClusterRoleBinding
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: default

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: argo-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --auth-mode=server

configMapGenerator:
- name: argo-workflow-configmap
  literals:
   - containerRuntimeExecutor=k8sapi
