apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .AppName }}
  labels:
    codefresh.io/entity: component
    codefresh.io/internal: "false"
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: argo-rollouts
    repoURL: {{ .RepoURL }}
    targetRevision: {{ .TargetVersion }}
    helm:
      releaseName: argo-rollouts
  destination:
    namespace: default
    name: {{ .ClusterName }}
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
